<div class="body">

  <header>
    <h1 class="title">Tudu</h1>
    <button type="button" class="add-btn" (click)="addItem()">
      +
    </button>
  </header>

  <main>
    <ul>
      @for (todo of list; track $index) {
      <app-todo [todo]="todo" (save)='saveItem(todo)' (remove)='removeItem(todo)' />
      }

      @for (todo of list$ | async; track todo.id) {
      <app-todo [todo]="todo" (save)='saveItem(todo)' (remove)='removeItem(todo)' />
      }
    </ul>
  </main>

</div>

<router-outlet />