.body {
  width: 600px;
  min-height: 400px;
  margin: auto;
  border: 1px solid black;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  header {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 37px;

    .title {
      text-align: center;
    }

    .add-btn {
      background-color: #fca06a;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
  }

  ul {
    list-style: none;
    padding: 1rem 2rem;

    app-todo:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}