<li>

  <input
    type="text"
    placeholder="Name"
    [(ngModel)]="todo.name"
    required
    #name="ngModel"
  />

  <br>

  <textarea
    placeholder="Write your task"
    [(ngModel)]="todo.description"
    required
    #description="ngModel"
  >
  </textarea>

  <div class="footer">
    <button
      type="button"
      [disabled]="!(name.touched || description.touched) && (name.invalid || description.invalid)"
      (click)="saveItem()"
    >
    Save
    </button>

    <button
      type="button"
      (click)="removeItem()"
    >
    Delete
    </button>
  </div>
</li>